<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature List</title>
    <link rel="stylesheet" href="/css/docs.css"/>
</head>
<body>
  <video autoplay muted loop id="background-video">
    <source src="../galery/background.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
    <table>
        <caption>Sekai Features</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Method</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>pins</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/pins" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>pinterest</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/pinterest" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>quotesAnime</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/quotesAnime" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>pixivdl</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/pixivdl" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>simi</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/simi" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>nhentai</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/nhentai" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>styletext</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/styletext" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>ringtone</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/ringtone" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>tiktokdl</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/tiktokdl" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>remini</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/remini" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>igstalk</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/igstalk" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>Khodam</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/Khodam" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>GPT4</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/GPT4" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>ttslide</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/ttslide" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>ssweb</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/ssweb" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>wikisearch</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/wikisearch" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>artinama</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/artinama" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>githubstalk</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/githubstalk" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>degreeGuru</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/degreeGuru" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>ragBot</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/ragBot" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>smartContract</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/smartContract" target="_blank">➡️</a></td>
        </tr>
        <tr>
            <td>blackboxAIChat</td>
            <td>GET</td>
            <td><a href="https://ritz-apis.vercel.app/api/blackboxAIChat" target="_blank">➡️</a></td>
        </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</body>
<script src="/js/loading.js"></script>
</html>
